body{
background-color: rgb(214, 236, 255);
 color: black;
 font-family: "Roboto Mono", monospace;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 700px;
margin: 0px;
}
button{
background-color: blueviolet;
 color: antiquewhite;
 font-family: "Roboto Mono", monospace;
}
.passo {
display: none;
}
.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}
img{
    max-width: 90%;
}